
VVVVVVVVV
 VA   AV     /\     //^^\\   ||   ||    /\
  VA AV     //\\   ||    ||  ||   ||   //\\
   VAV     //  \\   \\__//__  \\_//   //  \\
    V

Welcome to aquaBSD! (motd)
https://inobulles.github.io

